h2 span {
  font-size: 20px;
}

.row h1 {
  vertical-align: bottom;
}

html {
  background-color: black;
}

body {
  background-color: black;
}

.container {
  background-color: #268e5e;
  color: #8effca;
  text-shadow: -1px 1px 1px #393939;
}

ul {
  list-style-type: square;
}

.jumbotron {
  background-color: #8effca;
  color: black;
}

.jumbotron h1 {
  text-shadow: -5px 5px 3px #268e5e;
}

@media (min-width: 768px) {
  img {
    float: right;
  }

  .container {
    margin-top: 5px;
    border-radius: 5px;
  }

  .jumbotron {
    margin-top: 5px;
  }
}

h4, a {
  text-shadow: -2px 2px 1px black;
}

h1, h2 {
  text-shadow: -3px 3px 1px black;
}

a {
  color: #8effca;
  text-decoration: underline;
}

a:hover {
  text-shadow: -1px 1px 1px #8effca;
  color: black;
}
